 ----
 
 # Chicago Public School Data Analysis in SQL
 
 ----

   <h4>list average of safety score,school type identified as Elementary,Middle, HighSchool</h4>

 SELECT AVG(Safety_Score),School_Type FROM Chicago_Public_Schools 
 GROUPBY Elementary_Middle_HighSchool

<h4>Total numbers of schools listed</h4>

 Select COUNT(DISTINCT ID) as Total_Number_Of_Schools 
  FROM Chicago_Public_Schools

<h4>Total numbers of Elementary,Middle and High School listed</h4>

  Select COUNT(DISTINCT ID) as Total_Number_Of_Schools, Elementary_Middle_High_School as Category
  FROM Chicago_Public_Schools
  GROUPBY Elementary_Middle_High_School

<h4>List the schools of "Albany Park" area along with their codes</h4>

SELECT School_Name,School_Code
 FROM Chicago_Public_School
    WHERE Community_Area_Name="Albany Park"

<h4>List the School Name with highest Parent Involvement score </h4>

 SELECT School_Name,Community_Area,Parent_Involvement_Score
    FROM Chicago_Public_School 
    WHERE Parent_Involvement_Score= (SELECT MAX(Parent_Involvement_Score))

<h4>List Top 5 Best Environment Schools</h4>

  SELECT School_Name,MAX(Environment_Score)
    FROM Chicago_Public_School LIMIT 5

<h4>list the school names, community names and average attendance for communities 
       with a hardship less than 40.</h4>

 SELECT cps.Name_Of_School,cps.Community_Name, cps.Average_Attendance from Chicago_Public_Schools as cps
 RIGHTJOIN Census_Data as cd on cps.Community_Area_Number=cd.Community_Area_Number
 WHERE cd.Hardship_Index < 40

<h4>Creating View with School name and rating</h4>

   CREATE VIEW SchoolAndIcon AS
    SELECT Name_OF_School,Leaders_Icon
    FROM Chicago_Public_School

<h4>Creating Procedure to update Leaders_Score</h4>
   The icon fields are calculated based on the value in the corresponding score field. We need to make sure that when a score field is updated, the icon field is updated too. To do this, we will write a stored procedure that receives the school id and a leaders score as input parameters,

@
CREATE OR REPLACE PROCEDURE UPDATE_LEADERS_SCORE (IN in_School_ID INTEGER, IN in_Leader_Score INTEGER)
 BEGIN 
 
       UPDATE CHICAGO_PUBLIC_SCHOOLS
       SET "Leaders_Score" = in_Leader_Score
       WHERE "School_ID" = in_School_ID;

  END
@

<h4>Displaying Icon against a given range of Leaders_Score field</h4>

 To update the Leaders_Icon field using the following information
 1-(80-99): Very Strong
 2-(60-79): Strong
 3-(40-59): Average
 4-(20-39): Weak
 5-(0-19) : Very Weak

CREATE OR REPLACE PROCEDURE UPDATE_LEADERS_SCORE (IN in_School_ID INTEGER, IN in_Leader_Score INTEGER)
  
   BEGIN 

      UPDATE CHICAGO_PUBLIC_SCHOOLS
          SET "Leaders_Score" = in_Leader_Score
              WHERE "School_ID" = in_School_ID;
              
        IF in_Leader_Score > 0 AND in_Leader_Score < 20 THEN
	      	UPDATE CHICAGO_PUBLIC_SCHOOLS
	        SET "Leaders_Icon" = 'Very Weak';
	    ELSEIF in_Leader_Score < 40 THEN
	       	UPDATE CHICAGO_PUBLIC_SCHOOLS
				SET "Leaders_Icon" = 'Weak';	
	    ELSEIF in_Leader_Score < 60 THEN
	       	UPDATE CHICAGO_PUBLIC_SCHOOLS
				SET "Leaders_Icon" = 'Average';
	    ELSEIF in_Leader_Score < 80 THEN
	       	UPDATE CHICAGO_PUBLIC_SCHOOLS
				SET "Leaders_Icon" = 'Strong';
	    ELSEIF in_Leader_Score < 100 THEN
	       	UPDATE CHICAGO_PUBLIC_SCHOOLS
				SET "Leaders_Icon" = 'Very Strong';
	   	END IF;
		
	END@

<h4>To Call the procedure</h4>

CALL UPDATE_LEADERS_SCORE(134,56)